
body {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

header{
    background-color: #093772;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav a:hover {
    background-color: #08457e;
    padding: 10px;
    text-decoration: underline;
} 


h2 {
    font-size: 30px;
    color: white;
    margin-left: 10px;

}

h1 {
    font-size: 40px;
    text-align: center;
    color: #000;
    margin-top: 20px;
    padding: 40px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.temple-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    margin-bottom: 40px;
}
/* Keep This @media in temple.css.
    Hamburger navegation */
@media screen and (max-width: 700px) {

    .heading {
        display: grid;
        grid-template-columns: 1fr 60px;
        align-items: center;
    }
    .heading h2{
        padding-top: 20px;
        justify-self:flex-start;
        margin: 0;
        align-self: center;
        padding-left: 10px;
        
    }

    #menu {
        margin-top: 10px;
        grid-column: 2;
        display: block;
        width: 50px;
        height: 50px;
        padding: 0;
        border: none;
        border-radius: 5px;
        background-color: #08457e;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        align-self: flex-end;
        justify-self: flex-start;
    
    }

    #menu::before {
        content: "≡";
    }

    #menu.show::before {
        content: "X";
    }

    .navegation {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: #093772;
    }

    .navegation li {
        display: none;
        width: 100%;
    }

    .navegation.show li {
        display: block;
    }

    .navegation a {
        display: block;
        width: 100%;
        padding: 0.75rem;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    


}



figure {
    text-align: center;
    font-size: 15px;
    color: #000;
    margin: 0
}

figcaption {
    margin-top: 5px;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #093772;
    padding: 20px;
    color: white;
    text-align: center;
}